<div class="tab-details">
  <div class="tab-details__left">
    <div class="tab-details_item">
      <p>Moonset</p>
      <p>{{ data?.astro?.moonset }}</p>
    </div>
    <div class="tab-details_item">
      <p>Sunset</p>
      <p>{{ data?.astro?.sunset }}</p>
    </div>
    <div
      class="tab-details_item"
      *ngIf="(commonTabService.tempMode$ | async) === tempMode.CELSIUS"
    >
      <p>Max temp</p>
      <p>{{ data?.day?.maxtemp_c }} &#8451;</p>
    </div>
    <div
      class="tab-details_item"
      *ngIf="(commonTabService.tempMode$ | async) === tempMode.FAHRENHEIT"
    >
      <p>Max temp</p>
      <p>{{ data?.day?.maxtemp_f }} &#8457;</p>
    </div>
  </div>

  <div class="tab-details__right">
    <div class="tab-details_item">
      <p>Moonrise</p>
      <p>{{ data?.astro?.moonrise }}</p>
    </div>
    <div class="tab-details_item">
      <p>Sunrise</p>
      <p>{{ data?.astro?.sunrise }}</p>
    </div>
    <div
      class="tab-details_item"
      *ngIf="(commonTabService.tempMode$ | async) === tempMode.CELSIUS"
    >
      <p>Min temp</p>
      <p>{{ data?.day?.mintemp_c }} &#8451;</p>
    </div>
    <div
      class="tab-details_item"
      *ngIf="(commonTabService.tempMode$ | async) === tempMode.FAHRENHEIT"
    >
      <p>Min temp</p>
      <p>{{ data?.day?.mintemp_f }} &#8457;</p>
    </div>
  </div>
</div>

<!-- {
  "maxtemp_c": 15.1,
  "maxtemp_f": 59.2,
  "mintemp_c": 12.9,
  "mintemp_f": 55.2,
  "avgtemp_c": 14.3,
  "avgtemp_f": 57.7,
  "maxwind_mph": 14.1,
  "maxwind_kph": 22.7,
  "totalprecip_mm": 7.2,
  "totalprecip_in": 0.28,
  "avgvis_km": 6,
  "avgvis_miles": 3,
  "avghumidity": 84,
  "daily_will_it_rain": 1,
  "daily_chance_of_rain": 89,
  "daily_will_it_snow": 0,
  "daily_chance_of_snow": 0,
  "condition": {
    "text": "Moderate rain",
    "icon": "//cdn.weatherapi.com/weather/64x64/day/302.png",
    "code": 1189
  },
  "uv": 3
} -->
