.dialog-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  min-height: 300px;
}

.forecast-group-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.forecast-group-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  max-width: 90px;
  transition: background 0.4s;
  border-radius: 10px;
}

.forecast-group-button--selected {
  background: #0ca678;
  border: 2px solid #0ca678;
  border-radius: 10px;
  -webkit-box-shadow: -1px -1px 5px 0px rgba(12, 166, 120, 1);
  -moz-box-shadow: -1px -1px 5px 0px rgba(12, 166, 120, 1);
  box-shadow: -1px -1px 5px 0px rgba(12, 166, 120, 1);
}

canvas {
  width: 100% !important;
  height: 100% !important;
  min-height: 150px;
}

.chart-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.tab-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.tab-details__left,
.tab-details__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
}

.tab-details_item {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  border-bottom: 2px solid #009688;
}

.details-item {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: space-around;
  align-items: center;

  border: 2px solid #009688;
  border-radius: 1rem;
  padding: 0.5rem;
  max-width: 200px;
}
