<div class="dialog-container">
  <header class="dialog-header">
    <h2>{{ data?.date }}</h2>
  </header>
  <section class="content">

    <div class="forecast-group" [ngSwitch]="option">
      <div class="forecast-group-buttons">
        <div
          class="forecast-group-button"
          [class.forecast-group-button--selected]="option === options.CHART"
          (click)="toogleTab(options.CHART)"
        >
          <p>Charts</p>
        </div>

        <div
          class="forecast-group-button"
          [class.forecast-group-button--selected]="option === options.DETAILS"
          (click)="toogleTab(options.DETAILS)"
        >
          <p>Details</p>
        </div>
      </div>

      <div class="forecast-group-tab" *ngSwitchCase="options.CHART">

        <div class="chart-header">
          <button
            mat-button
            mat-stroked-button
            color="primary"
            (click)="hide()"
          >
            Fahrenheit
          </button>
        </div>

        <canvas
          baseChart
          [data]="lineChartData"
          [type]="lineChartType"
        ></canvas>

      </div>
      <div class="forecast-group-tab" *ngSwitchCase="options.DETAILS">
        <app-forecast-details-tab [data]="data"></app-forecast-details-tab>
      </div>
    </div>
  </section>
</div>
