$input-width: 70rem;

.search-form__input {
  max-width: $input-width;
  width: 70vw;
}

.search-form__panel {
  display: flex;
  flex-direction: column;

  border: 3px solid #009688;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  max-width: $input-width;
  width: 70vw;
}

.search-form__panel__item {
  display: flex;
  justify-content: space-between;

  padding: 10px 10px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  color: #adb5bd;
}

.search-form__panel__item:hover {
  background: #009688;
}

.search-form__panel__item:hover:last-child {
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
