<form class="search-form">
  <mat-form-field
    cdkOverlayOrigin
    #originOverlay="cdkOverlayOrigin"
    class="search-form__input"
    appearance="fill"
  >
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>City</mat-label>

    <input matInput placeholder="City" [formControl]="nameControl" />
  </mat-form-field>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="originOverlay"
    [cdkConnectedOverlayOpen]="showPanel$ | async"
    [cdkConnectedOverlayOffsetY]="-22"
  >
    <div class="search-form__panel">
      <div
        class="search-form__panel__item"
        (click)="goToDetails(city)"
        *ngFor="let city of (searchResult$ | async)"
      >
        <p>{{ city.country }}</p>
        <p>{{ city.name }}</p>
      </div>
    </div>
  </ng-template>
</form>
