.forecast__days {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.forecast__days img {
  display: block; 
  margin: auto;
}

.forecast__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-left: 2px solid #009688;
}

.forecast__day:hover {
  background: #009688;
}

.forecast__day:last-of-type {
  border-right: 2px solid #009688;
}

.forecast__day--condition {
  margin-bottom: 1.2rem;
  text-align: center;
}

.forecast__day--temp {
  font-size: 0.8rem;
}
